@page "/Logout"
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<h1 class="h2 font-weight-normal login-title">
    Logging Out...
</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authStateProvider.Logout();
        await Task.Delay(500);
        navigationManager.NavigateTo("");
    }
}