@page "/CreatePrint"
@attribute [Authorize]
@inject IdentityAuthenticationStateProvider authStateProvider

<AuthorizeView>
    <Authorized>
        <div class="card mt-4">
            <h4 class="card-header">You're logged in with Blazor WebAssembly Identity!</h4>
            <div class="card-body">
                <h6>@context.User.Identity.Name, this is where you'd create a print.</h6>
            </div>
        </div>
    </Authorized>
</AuthorizeView>