@inject NavigationManager navigationManager

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <AuthorizeView>
        <Authorized>
            <div class="navbar-nav mr-auto">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
                    <span class="oi oi-home"></span>Home
                </NavLink>
                <NavLink href="About"  class="nav-link">
                    <span class="oi oi-project"></span>Makerspace Info
                </NavLink>
                <NavLink href="CreatePrint"  class="nav-link">
                    <span class="oi oi-print"></span>Create Print
                </NavLink>
                <NavLink href="ShowPrints"  class="nav-link">
                    <span class="oi oi-spreadsheet"></span>Show My Prints
                </NavLink>
            </div>
            <div class="navbar-nav ml-auto">
                <NavLink href="EditUser" class="nav-link">
                    <span class="oi oi-cog"></span>My Profile
                </NavLink>
                <NavLink href="Logout" class="nav-link">
                    <span class="oi oi-account-logout"></span>Logout
                </NavLink>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="navbar-nav mr-auto">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
                    <span class="oi oi-home"></span>Home
                </NavLink>
                <NavLink href="About"  class="nav-link">
                    <span class="oi oi-project"></span>Makerspace Info
                </NavLink>
            </div>
            <div class="navbar-nav ml-auto">
                <NavLink href="Login" class="nav-link">
                    <span class="oi oi-account-login"></span>Login
                </NavLink>
                <NavLink href="Register" class="nav-link">
                    <span class="oi oi-clipboard"></span>Register
                </NavLink>
            </div>                
        </NotAuthorized>
    </AuthorizeView>            
</nav>

@code {

}
